
<html>
<body>
        <!-- <h2><center>Home Page</center></h2> -->
        <h4><center>DISHES:</center></h4>
        <table align="center" >
        <tr>
        <td>
            <a href="/airtel/"><center>Airtel</center></a>
        </td>&nbsp &nbsp
        <td>
            <a href="/tata/"><center>Tata Sky</center></a>
        </td> &nbsp &nbsp
        <td> 
            <a href="/sun/"><center>Sun Direct</center></a>
        </td> &nbsp &nbsp
        <td> 
            <a href="/dish/"><center>Dish Tv</center></a>
        </td> &nbsp &nbsp
        </tr>
    </table>
</body>
</html>